<% if !user_signed_in? %>
  <%= render 'splash' %>
<% else %>
  <% if current_user.has_role? :admin %>
    <h1> Welcome Admin </h1>
    <p> Proceed to the courses page to manage classes or to the users page to manage users </p>
    <p><%= link_to "Admin Dashboard", dashboard_admin_path %></p>
  <p>Note: You can manage a class with a blue name</p>
    
  <% elsif current_user.has_role? :instructor %>
    
    <h1> Welcome Instructor </h1>
    <p> Proceed to the courses page to manage your classes or the users page to manage users with access to your classes </p>
    <p>Note: You can manage a class with a blue name</p>

  <% elsif current_user.has_role? :user %>
    <h1> Welcome Student </h1>
    <p> If you are looking for courses you are currently enrolled in, go to the <%= link_to 'courses', courses_path %> page.
    Otherwise you can find a list of courses you can enroll in. </p>
  <% end %>

  <%= react_component("HomePage", props: { courses: @courses }, prerender: false) %>

<br>
  
<%end%>