<% if !user_signed_in? %>
  <%= render 'splash' %>
<% else %>
  <% if current_user.has_role? :admin %>
    <h1> Welcome Admin </h1>
    <p> Proceed to the courses page to manage classes or to the users page to manage users </p>
    
  <% elsif current_user.has_role? :instructor %>
    
    <h1> Welcome Instructor </h1>
    <p> Proceed to the courses page to manage your classes or the users page to manage users with access to your classes </p>

  <% elsif current_user.has_role? :user %>
    <h1> Welcome Student </h1>
    <p> If you are looking to enroll in a course head over to the <%= link_to 'courses', courses_path %> page.
    Otherwise you can find a list of courses you are enrolled in below.
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <% current_user.courses.each do |course| %>
          <% if can? :manage, course %>
            <%= link_to course.name, course, method: :get, class: "list-group-item justify-content-between list-group-item-info"%>
          <% else %>
            <%= link_to course.name, course, method: :get, class: "list-group-item justify-content-between"%>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <p>Note that if you see a class with a green name it means you can manage the class</p>
  
<%end%>