<h1>Editing <%= @roster_student.full_name %></h1>

<%= render 'form', roster_student: @roster_student %>

<%= link_to 'Show', course_roster_student_path, :class => "btn btn-outline-secondary" %> |
<%= link_to 'Back', course_path(@parent), :class => "btn btn-outline-secondary" %>
