<h1>Editing Roster Student</h1>

<%= render 'form', roster_student: @roster_student %>

<%= link_to 'Show', course_roster_student_path %> |
<%= link_to 'Back', course_path(@roster_student.course_id) %>
