<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Course: <%= @parent.name %> Repo: <%= @github_repo.name %> </div>
  </div>

  <%= react_component("CourseGithubRepo",
                        props: {current_path: request.env['PATH_INFO'], 
                                can_edit: can?(:update, @course),
                                course_id: params[:course_id].to_i,
                                repo: @github_repo
                        },
                        prerender: false) %>
</div>

