<p>You are an administrator of this course</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Diagnostics</h3>
  </div>
  <div class="panel-body">
    <p>TODO: implement diagnostics here to help professors confirm that their course is properly configured</p>
  </div>
</div>

<<<<<<< HEAD
>>>>>>> 32668496ec98e0b74960f734e8eec6fdee8555b1

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Roster</h3>
  </div>
  <div class="panel-body">
    <table class="table table-sm">
<<<<<<< HEAD
      <tr>
        <th>PERM</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      
      <% @course.roster_students.each do |roster_student| %>
        <tr>
          <td><%= roster_student.perm %></td>
          <td><%= roster_student.first_name %></td>
          <td><%= roster_student.last_name %></td>
          <td><%= roster_student.email %></td>
        </tr>
      <% end %>

    </table>
>>>>>>> 32668496ec98e0b74960f734e8eec6fdee8555b1
  </div>
</div>