// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first-row-disabled tr:nth-child(2) {
  background-color:lightgray;
  font-weight: bold;
}

// Fixes most infuriating display bug of all time where select filters would be misaligned with input ones.

div.filter-control {
  padding-bottom: 2px;
}