<%# add navigation links to this file %>
<%if can? :read, Course %>
  <li><%= nav_link 'Courses', courses_path %></li>
<%end%>

<% if can? :update, User %>
	<li><%= nav_link 'Users', users_path %></li>
<% end %>

<% if can? :manage, :all %>
  <li><%= nav_link "Admin", admin_dashboard_path %></li>
<% end %>