<% content_for :main_content do %>
  <% if @course.present? %>
    <h1> <%= link_to @course.name, course_path(@course) %> </h1>
  <% end %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>