<% content_for :main_content do %>
  <% if @course.present? && @course.id.present? %>
    <h1> <%= link_to @course.name, course_path(@course) %> </h1>
    <% if (current_user.has_role? :admin) || (current_user.instructor_of? @course) %>
      <%= react_component("CourseNavBar",
                          props: {current_path: request.env['PATH_INFO'], roster_path: course_path(@course),
                                  project_teams_path: course_project_teams_path(@course), org_teams_path: course_org_teams_path(@course),
                                  repos_path: course_repos_path(@course),
                                  create_assignment_repos_path: course_create_repos_path(@course),
                                  project_repos_path: course_project_repos_path(@course),
                                  external_repos_path: external_course_github_repos_path(@course),
                                  slack_path: course_slack_path(@course),
                                  jobs_path: course_jobs_path(@course), edit_path: edit_course_path(@course),
                                  consent_path: course_informed_consents_path(@course),
                                  create_team_repos_path: create_repos_course_org_teams_path(@course),
                                  create_teams_path: create_teams_course_org_teams_path(@course), events_path: course_events_path(@course),
                                  can_edit: can?(:update, @course),
                                  github_repos_path: course_github_repos_path(@course),
                                  orphan_commits_path: course_orphan_commits_path(@course),
                                  download_commits_path: course_commits_path(@course, :format => "csv"),
                                  download_issues_path: course_issues_path(@course, :format => "csv"),
                                  download_pull_requests_path: course_pull_requests_path(@course, :format => "csv"),
                          },
                          prerender: false) %>
      <br/>
    <% end %>
  <% end %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
