<% content_for :main_content do %>
  <% if @course.present? %>
    <h1> <%= link_to @course.name, course_path(@course) %> </h1>
    <%= react_component("CourseNavBar",
                        props: {current_path: request.env['PATH_INFO'], roster_path: course_path(@course),
                                project_teams_path: course_project_teams_path(@course), org_teams_path: course_org_teams_path(@course),
                                repos_path: course_repos_path(@course), slack_path: course_slack_path(@course),
                                jobs_path: course_jobs_path(@course), edit_path: edit_course_path(@course)
                        },
                        prerender: true) %>
    <br/>
  <% end %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>